.cart{
    background-color: #f1f3f6;
    display: flex;
    justify-content: space-evenly;

    
}
.cart-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
    width: 42%;
    gap: 2px;
}
.cart-check-pin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12);
    border-radius: 4px;
    /* width: 100%; */
}
.cart-check-text{
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px,5px,0px,0px;
}
.cart-order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12);
    border-radius: 4px;
}