*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
  }
  ::-webkit-scrollbar{
    width: 0px;
  }
  html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    overflow-y:scroll;
   
  }
  
  html body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x:hidden;
  }

  .link{
    text-decoration: none;
}