* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    /* border-bottom: 2px solid grey; */
    background-color:#2874f0;
    height: 60px;
    overflow: hidden;
}
.logo-image{
    width: 45%;
    cursor: pointer;

}.logo{
    width: 180px;
    display: flex;
    flex-direction: column;
}


.Search{
    display: flex;
    background-color: whitesmoke;
    border-radius: 12px;
    width: 33%;
    border: none;
   


}
.Search-submit{
  background-color: white;
    border: none;
    border-radius: 4px;
padding: 5px;    color: grey;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    opacity: 1;
    text-align: center;
}
input:focus{
  outline: none;
}
.search-bar{

    border: none;
    border-radius: 4px;
    flex: 1;
    padding-left: 25px;
}
::placeholder {
    color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1; /* Firefox */
    font-weight: 500;
  }
  .btn{
    color: #2874f0;
    padding: 8px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
  text-shadow: 8px 8px 8px #aaa;
  background-color:#2874f0;
  cursor: pointer;
  }
  .nav-items{
    width: 40%;

  }
  .nav-items-Bar{
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
  }
.explore{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #F0F0F0;
  text-align: center;
  font-style: italic;
}

.explore-logo{
  display: flex;
  align-items: center;
  gap: 4px;
}
.plus{
  color: #FFE500;
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
  font-style: italic;
}
.img-plus{
  display: flex;
  align-items: center;
  gap: 2px;
}
.plus-image{
  width: 10px;
  height: 11px;
}
