* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* border-bottom: 2px solid grey; */
    background-color:#2874f0;
    height: 60px;
    overflow: hidden;
}
.logo-image{
    width: 65%;
    border-radius: 8px;
    cursor: pointer;

}.logo{
    width: 180px;
}


.Search{
    display: flex;
    background-color: whitesmoke;
    border-radius: 12px;
    width: 33%;
    border: none;
   


}

.search-bar{

    border: none;
    border-radius: 12px;
    height: 30px;
    flex: 1;
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px; 
}
::placeholder {
    color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1; /* Firefox */
    font-weight: 500;
  }
  .btn{
    color: #2874f0;
    padding: 8px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
  text-shadow: 8px 8px 8px #aaa;
  background-color:#2874f0;
  cursor: pointer;
  }
  .nav-items{
    width: 40%;

  }
  .nav-items-Bar{
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
  }
