
/* Header.css */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2874f0;
  height: 60px;
}

.logo-image{
  width: 45%;
  cursor: pointer;

}.logo{
  width: 180px;
  display: flex;
  flex-direction: column;
}
.explore{
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #F0F0F0;
  text-align: center;
  font-style: italic;
}

.explore-logo{
  display: flex;
  align-items: center;
  gap: 4px;
}
.plus{
  color: #FFE500;
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
  font-style: italic;
}
.img-plus{
  display: flex;
  align-items: center;
  gap: 2px;
}
.plus-image{
  width: 10px;
  height: 11px;
}
.Search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
}

.search-bar {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.Search-submit {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #2874f0;
  font-weight: bold;
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-items-Bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* media queries for phones */
@media screen and (max-width: 768px) {
  .Header {
    flex-direction: column;
    height: auto;
  }

  .logo {
  padding-left: 24px;
  }

  .Search,
  .nav-items {
    width: 100%;
    margin: 10px 0;
  }

  .Search-submit {
    margin-left: 10px;
  }
  .nav-items-Bar {
    flex-wrap: wrap;
    justify-content: center;
  }
}
