/* Carousel */
 
/* body {
  background-color: green;
} */

.tag {
    text-align: center;
  }
  
  .slick-slide img {
    margin: auto;
    width: 30%;
    height: 30%;
    padding: 10px;
    border-radius: 4px;
  }
  .imgslider{
     background-color: #e1f0f8;
  }
  