

.footer{
    display: flex;
    gap: 12px;
    background-color: #212121;
    color: white;
    padding: 24px;
    border-bottom: 1px solid grey;
}
.footer-left{
    display: flex;
    /* gap: 48px; */
    justify-content: space-around;
    color: white;
    gap: 34px;
    width: 220%;
}
.footer-right{
    display: flex;
    gap: 34px;
}
.divider{
    width: 1px;
    background-color: grey;

}
.divider-2{
    height: 2px;
    background-color: gray;
}
.footer-main{
    background-color: #212121;
    color: white;
    padding: 24px;
    margin-top: 24px;
    
}p{
    color: #878787;
    font:12px;
    margin-bottom: 12px;
    
}
li{
    list-style-type: none;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
}li:hover{
    text-decoration: underline;
}
span{
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px; 
}
.social{
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
}
.social-icon{
    display: flex;
    align-items: center;
}
.address{
    font: 8px;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;

}
.footer-bottom{
    display: flex;
    
gap: 12px;
padding: 4px;

}
.footer-bottom-links{
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 18px;
    gap: 8px;
}
.footer-bottom-links:hover{
text-decoration: underline;
}
.payment-img{
    width: 392;
    height: 32;
}